.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
}
.buscarNombre {
    display: flex;
    border: none;
    padding: 10px; 
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}